<div class="follow-index-page">
  <div class="follow">
    <p class="follow-title ml-3">フォロワー一覧</p>
    <p class="follow-num">あなたがアピールを送ったひと <%= @user.followings.size %>人</p>
    <div class="follow__list">
      <% unless @user.followings.empty? %>
        <% @user.followings.each do |user| %>
          <%= link_to user_path(user) do %>
          <div class="follow__person">
            <% if user.image.blank? %>
              <%= image_tag 'no_image.png', class: "follow__person-img" %>
            <% else %>
              <%= image_tag user.image, class: "follow__person-img" %>
            <% end %>
            <div class="follow__person-name">
              <%= user.name %>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>