<%= render "layouts/navbar" %>

<div class="card-index">
  <div class="card-deck">
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="card">
          <% if user.image.blank? %>
            <%= image_tag 'no_image.png', class: "bd-placeholder-img card-img-top" %>
          <% else %>
            <%= image_tag user.image, class: "bd-placeholder-img card-img-top" %>
          <% end %>
          <div class="card-body text-center">
            <%= user.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>