<!DOCTYPE html>
<html>
  <head>
    <title>MusicOrignal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render "layouts/navbar" %>
    <% end %>
    <%= yield %>
    <div class="logout">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          <h1>ログアウト</h1>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
